body,html{
	background: #fff;
}
body,html,.main-sec,.loginbg{
	height: 100%;	
}
a{
	text-decoration: none;
}
.btn-info{
	color: #fff;
}
.mr-auto, .mx-auto {
    margin-right: auto!important;
}
.loginbg{
	background: #318f94;
    background: linear-gradient(0deg,#5ec58c 0,#318f94);
	padding: 20px;
	
}
.login-box{
	max-width: 370px;
	margin: 0 auto;
}
.topbar {
    background: #318f94;
    background: linear-gradient(90deg,#318f94 0,#5ec58c);
    z-index: 50;
}
.topbar .top-navbar{
	min-height: 70px;
    padding: 0 15px 0 0;
}
.topbar .top-navbar .navbar-header {
	
    background: #fff;
    box-shadow: 4px -4px 10px rgb(0 0 0 / 5%);
    line-height: 70px;
    text-align: center;
	
}
.topbar .top-navbar .navbar-nav>.nav-item>.nav-link {
    padding-left: .75rem;
    padding-right: .75rem;
    font-size: 17px;
    line-height: 50px;
}
.topbar .navbar-light .navbar-nav .nav-item>a.nav-link {
    color: hsla(0,0%,100%,.8)!important;
}
.topbar .navbar-light .navbar-nav .nav-item>a.nav-link:focus, .topbar .navbar-light .navbar-nav .nav-item>a.nav-link:hover {
    color: #fff;
}
.dropdown-menu-right {
    right: 0;
    left: auto !important;
}
.topbar .dropdown-menu {
    box-shadow: 0 3px 12px rgb(0 0 0 / 5%);
    -webkit-box-shadow: 0 3px 12px rgb(0 0 0 / 5%);
    -moz-box-shadow: 0 3px 12px rgba(0,0,0,.05);
    border-color: hsla(210,8%,51%,.13);
}
.topbar ul.dropdown-user li .dw-user-box {
    padding: 10px 15px;
}
.topbar ul.dropdown-user li a {
    padding: 9px 15px;
    display: block;
    color: #54667a;
}
.topbar ul.dropdown-user li a:hover {
    background: #f2f7f8;
    color: #009efb;
    text-decoration: none;
}
.topbar .top-navbar .navbar-nav>.nav-item .show {
    background: rgba(0,0,0,.05);
}
.topbar ul.dropdown-user li .dw-user-box .u-img {
    width: 80px;
    display: inline-block;
    vertical-align: top;
}
.topbar ul.dropdown-user li .dw-user-box .u-img img {
    width: 100%;
    border-radius: 5px;
}
.topbar ul.dropdown-user li .dw-user-box .u-text {
    display: inline-block;
    padding-left: 10px;
}
.topbar ul.dropdown-user li .dw-user-box .u-text h4 {
    margin: 0;
}
.topbar ul.dropdown-user li .dw-user-box .u-text p {
    margin-bottom: 2px;
    font-size: 14px;
}
.topbar ul.dropdown-user li .dw-user-box .u-text .btn {
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
}
.topbar ul.dropdown-user li .dw-user-box .u-text .btn:hover{
	background: red;
}
.topbar ul.dropdown-user {
    padding: 0;
    width: 270px;
	background: #fff;
}
.topbar ul.dropdown-user li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.topbar ul.dropdown-user li.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: hsla(210,8%,51%,.13);
}
.topbar ul.dropdown-user li a {
    padding: 9px 15px;
    display: block;
    color: #54667a;
	text-decoration: none;
}

.topbar .profile-pic {
    width: 30px;
    border-radius: 100%;
}

/* Sidebar*/
.left-sidebar {
    position: absolute;
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 20;
    padding-top: 90px;
	background: #fff;
	left: 0;
}
.sidebar-nav {
    background: #fff;
}
.sidebar-nav ul{
	padding: 0;
	margin: 0;
}
.sidebar-nav ul li {
    list-style: none;
}
.sidebar-nav ul li a {
    color: #54667a;
    padding: 14px 35px 14px 15px;
    display: block;
    font-size: 15px;
	white-space: nowrap;
}

.sidebar-nav>ul>li>a i {
    width: 27px;
    font-size: 21px;
    display: inline-block;
    vertical-align: middle;
    color: #a6b7bf;
}
.sidebar-nav ul li a.active i, .sidebar-nav ul li a:hover i{
    color: #fff;
}
.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
    color: #55ce63 ;
    background: #f2f7f8;
    border-left: 3px solid #009efb;
    font-weight: 400;
    border-right: 3px solid #55ce63;
}
.sidebar-nav ul li a {
    padding: 12px 30px 12px 15px;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    color: #54667a;
    padding: 14px 35px 14px 15px;
    display: block;
    font-size: 15px;
    font-weight: 400;
}
 .sidebar-nav ul li a:hover {
    color: #fff;
    background: #009efb;
    font-weight: 500;
    border-right: 3px solid #55ce63;
    width: 240px;
}

/*Shortsidebar*/
 
.short-sidebar .navbar-brand{
    width: 60px;
    padding: 10px;
}
.short-sidebar .navbar-brand span{
	display: none !important;
}
.short-sidebar .navbar-header {
		width: 60px;
}
.short-sidebar .left-sidebar{
	width: 60px;
}
.short-sidebar .left-sidebar .hide-menu{
	visibility: hidden;
}
.short-sidebar .left-sidebar #sidebarnav a{
	position: relative;
}
.short-sidebar .left-sidebar #sidebarnav a:hover .hide-menu{
	visibility: visible;
	z-index: 1;	
}
.short-sidebar .page-wrapper {
		margin-left: 60px;
}

/*page wrapper*/
.page-wrapper {
    background: #f2f7f8;
    padding-bottom: 60px;
	padding-top: 80px;
}
.card{
	margin-bottom: 30px;
}
/* Form Controls*/
.form-group{
	margin-bottom: 20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 768px){
	.navbar-header {
		width: 240px;
		flex-shrink: 0;
	}
	
}
@media (max-width: 990px){
	.navbar-header {
		width: 60px;
	}
	.navbar-header .navbar-brand{
		margin-right: 0;
	}
	
}
@media (max-width: 767px){
	.topbar .top-navbar .navbar-collapse {
		display: flex;
		width: 100%;
	}
	
	.topbar .top-navbar {
		padding-right: 15px;
		flex-direction: row;
		flex-wrap: nowrap;
		-webkit-align-items: center;
	}
	.topbar .top-navbar .navbar-nav {
		flex-direction: row;
	}
	.topbar .top-navbar .navbar-nav .dropdown-menu {
		position: absolute;
	}
	
	.page-wrapper {
		margin-left: 0px !important;
	}
	.short-sidebar .left-sidebar{
		display: none;
	}
	
}

@media (min-width: 1024px){
	.page-wrapper {
		margin-left: 240px;
	}
}